body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: "PingFangTC-Regular", "Noto Sans TC", "sans-serif";
  image-rendering: auto;
}

.App {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  width: 375px;
  height: 667px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; 
  overflow: scroll;

}

.material-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 125;
  padding: 6px;
  border-width: 3px;
  border-radius: 100px;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(197, 197, 197, 0.2);
  color: rgb(255, 255, 255);
  box-shadow: none;
}
.material-icons.on{
  animation: AudioBreath 2s alternate-reverse infinite ease-out;
}
.material-icons.off{
  animation: none;
}

.PageLoading,
.Page0,
.Page1,
.Page2,
.Page3,
.Page4,
.Page5,
.Page6,
.Page7,
.Page8,
.Page9 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Description {
  padding-top: 15%;
  position: relative;
  display: block;
  width: 76%;
  height: auto;
  margin-left: 12%;
  margin-right: 12%;
  color: rgba(255, 255, 255, 0.9);
  z-index: 21;
  font-size: 1.1rem;
  text-align: center;
}
.line1,
.line2 {
  margin-bottom: 5%;
}
.Question {
  margin-top: 10%;
  height: 10%;
  width: 76%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  z-index: 21;
  font-size: 1.3rem;
}
.Button_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 40px;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 11;
}
.Button1 {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  /* justify-content: center; */
  width: 46%;
  margin: 0px 2%;
  padding: 0px 15px;
  height: 80px;
  color: rgb(40, 40, 40);
  background-color: hsla(0, 0%, 100%, 0.8);
  font-size: 0.9rem;
  border: 0ch;
  box-shadow: none;
}
.Button2 {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  /* justify-content: center; */
  width: 46%;
  margin: 0px 2%;
  padding: 0px 15px;
  height: 80px;
  color: rgb(40, 40, 40);
  background-color: hsla(0, 0%, 100%, 0.8);
  font-size: 0.9rem;
  border: 0ch;
  box-shadow: none;
}
.Button3 {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  /* justify-content: center; */
  width: 46%;
  margin: 0px 2%;
  padding: 0px 15px;
  height: 80px;
  color: rgb(40, 40, 40);
  background-color: hsla(0, 0%, 100%, 0.8);
  font-size: 0.9rem;
  border: 0ch;
  box-shadow: none;
}
.Button4 {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  /* justify-content: center; */
  width: 46%;
  margin: 0px 2%;
  padding: 0px 15px;
  height: 80px;
  color: rgb(40, 40, 40);
  background-color: hsla(0, 0%, 100%, 0.8);
  font-size: 0.9rem;
  border: 0ch;
  box-shadow: none;
}
.background_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  overflow: hidden;
}
.background_image_layer1 {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: max-content;
  background-size: cover;
  /* transform: translate(-40%, 0); */
}
.background_image_layer2 {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: max-content;
  background-size: cover;
  animation: StarShine 4s infinite alternate-reverse;
  /* transform: translate(-40%, 0); */
}
.background_image_layer3 {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: max-content;
  background-size: cover;
  transform: translate(-60%, 0);
  animation: StarShine 3s infinite alternate-reverse;
}
.background_image_layer4 {
  position: absolute;
  z-index: 4;
  height: 100%;
  width: max-content;
  background-size: cover;
  /* transform: translate(-40%, 0); */
  animation: CloudMove 200s infinite;
}
.background_image_layer5 {
  position: absolute;
  z-index: 5;
  width: auto;
  height: auto;
  background-size: contain;
  bottom: -5px;
}
/*隱藏其他頁面*/
.hide {
  visibility: hidden;
}

/*轉場時添加，小心優先級*/
.Button_container.transIn {
  animation: FadeIn2 4s;
}
.Description.transIn {
  animation: FadeIn 1.5s;
}
.Question.transIn {
  animation: FadeIn2 2s;
}
.background_image.transIn {
  animation: FadeIn 0.5s;
}
.Button_container.transOut {
  animation: buttonfade 1s;
}
.Description.transOut {
  animation: buttonfade 1s;
}
.Question.transOut {
  animation: buttonfade 1s;
}
.background_image.transOut {
  animation: buttonfade 1s;
}

/*---以下是特別樣式區（做各種微調）---*/

/*---載入頁樣式區---*/

.PageLoading.Description {
  font-size: 4rem;
  margin-top: 65%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.699);
}
.PageLoading.background_image_layer5 {
  bottom: 50%;
  margin-left: 50%;
  transform: translate(-25%, -25%);
}
.PageLoading.background_image_layer1 {
  opacity: 0.6;
}
/* 開始頁樣式區 */
.ButtonStart{
  position: relative;
  width: 92%;
  margin: 6% 4% 0px 4%;
  padding: 0px 15px;
  height: 70px;
  font-size: 1.5rem;
  border: 0ch;
  box-shadow: none;
  z-index: 10;
  background-color: transparent;
}
.ButtonStart p{
  color: rgb(255, 248, 233);
  text-decoration: underline;
  animation: StartBreath 2s alternate-reverse infinite ease-out;
}

.Page0.background_image_layer1 {
  z-index: 1;
  bottom: 245px;
}
.Page0.background_image_layer5 {
  z-index: 5;
}
.Page0.Title{
  position: relative;
  font-size: 1.3rem;
  padding-top: 110%;
}
.Title p{
  margin-top: 45px;
  margin-bottom: 2px;
  color: rgb(255, 255, 255);

}
.Page0.Subtitle{
  position: relative;
  font-size: 1.15rem;
  padding-top: 0;
}
.Subtitle p{
  margin-top: 2px;
  margin-bottom: 10px;
  color: rgb(255, 248, 233);

}
.Page0.Notes{
  position: relative;
  font-size: 0.83rem;
  padding-top: 15px;
}
.Notes p{
  margin-top: 0px;
  margin-bottom: 2px;
  color: rgba(255, 253, 249, 0.821);
}

/*---第一頁樣式區---*/
.Page1.background_image_layer5 {
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}
/*---第二頁樣式區---*/
.Page2.Question.transIn {
  animation: FadeIn2 3s;
}
.Page2.Description.transIn .line1 {
  animation: FadeIn 0.5s;
}
.Page2.Description.transIn .line2 {
  animation: FadeIn2 1.5s;
}
.Page2.Description.transOut {
  animation: buttonfade 1s;
}
.Page2.Question.transOut{
  animation: buttonfade 1s;
}
.Page2.Button_container{
  margin-top: 0;
}

.Page2.Question {
  color: rgb(45, 45, 45);
}
.Page2 .line1 {
  color: rgb(45, 45, 45);
}
.Page2 .line2 {
  color: rgb(45, 45, 45);
}
.Page2.background_image_layer1 {
  transform: translate(-40%, 0);
}
.Page2.background_image_layer5 {
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}

/*---第三頁樣式區---*/
.Page3.Description {
  color: rgb(94, 94, 94);
}
.Page3.Question {
  color: rgb(94, 94, 94);
}
.Page3.background_image_layer2 {
  position: absolute;
  z-index: 10;
  height: 120px;
  padding-top: 100px;
  padding-left: 76px;
  width: 221px;
  margin-top: 400px;
  animation: none;
  /* transform: translate(-40%, 0); */
}

/*---第四頁樣式區---*/
.Page4.Description {
  color: rgb(94, 94, 94);
}
.Page4.Question {
  color: rgb(94, 94, 94);
}
.Page4.background_image_layer5 {
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}
/*---第五頁樣式區---*/
.Page5.background_image_layer4 {
  left: 90%;
  top: 40%;
  background-size: contain;
  height: 30%;
}
.Page5.background_image_layer5 {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/*---第六頁樣式區---*/
.Page6.background_image_layer1 {
  left: -20%;
}

.Page6.background_image_layer5 {
  width: 75%;
  left: 10%;
}
/*---第七頁樣式區---*/
.Page7.background_image {
  background-color: rgb(20, 20, 20);

}
.Page7.background_image_layer1 {
  position: absolute;
  z-index: 1;
  width: 375px;
  height: 296px;
  bottom: 0px;
  background-size: contain;
  /* transform: translate(-40%, 0); */
}

.Page7.background_image_layer5 {
  width: 100%;
  bottom: 60px;
  background-size: unset;
  left: 20%;
  transform: translateX(-50%);
}
/*---第八頁樣式區---*/
.Page8.background_image_layer1 {
  background-size: contain;
  bottom: 0;
  width: 100%;
  transform: translateX(-60%);
}
.Page8.background_image_layer5 {
  width: 60%;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}
.Page8.Question {
  color: rgb(255, 242, 242);
}
.Page8.Description {
  color: rgb(60, 60, 60);
}

/*---結算頁樣式區---*/

.Page9.background_image_layer1 {
  z-index: 1;
  width: 375px;
  height: 667px;
  left: 0;
  right: 0;
  margin: auto;
}
.Page9 > .resultImage1{
  max-height: 100%;
}
.Page9.background_image_layer2 {
  animation: none;
  z-index: 2;
  width: 375px;
  height: 667px;
  left: 0;
  right: 0;
  margin: auto;
}
.Page9 > .resultImage2{
  max-width: 100%;
  max-height: 100%;
}

.Page9.background_image_layer5 {
  animation: none;
  z-index: 5;
  width: 185px;
  height: 667px;
  left: 0;
  right: 0;
  margin: auto;
}
.Page9 > .resultImage5{
  padding-top: 60px;
  max-width: 100%;
  max-height: 100%;
}

.Page9 > .TopHint{
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  letter-spacing: 10px;
  font-size: 16px;
  width: 100%;
  height: 30px;
  z-index: 5;
}
.CTAButton{
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 545px;
  width: 60%;
  height: 50px;
  z-index: 6;
}

/* footer banner 位置 CTA 的 樣式，但目前此區域不需要 CTA ，故 comment 掉 */
/* To Do : 之後因應專案調整啟用 */
/* .CTAButton2{
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 545px;
  width: 100%;
  height: 50px;
  z-index: 6;
} */

.Page9 > .FingerPoint{
  position: relative;
  
  top: 495px;
  left: 10px;
  width: 50px;
  height: 50px;
  z-index: 7;
}
.TopHint > span{
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.FingerPoint > img{
  transform: rotate(90deg);
  animation: Finger 0.5s ease-in-out infinite alternate-reverse;
}


.Finalscore {
  position: absolute;
  display: block;
  margin-top: 367px;
  width: 100%;
  height: 200px;
  background-color: rgba(255, 235, 205, 0.449);
  padding-top: 1%;
  padding-bottom: 1%;
}

.Vscore,
.Ascore,
.Rscore,
.Kscore {
  margin-left: 50%;
  transform: translateX(-25%);
  font-size: 1.2rem;
  color: rgb(94, 94, 94);
}
/*-以下是各種動畫：轉場以及每頁的單獨動畫-*/

/*轉場動畫*/
@keyframes buttonfade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 開始頁開始按鈕呼吸感 */
@keyframes StartBreath{
  0%{
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}
/* 右上音量按鈕點擊前呼吸感 */
@keyframes AudioBreath {
  0%{
    background-color: rgba(197, 197, 197, 0.2);
  }
  100%{
    background-color: rgba(197, 197, 197, 0.8);
  }

}

/*第一頁動畫*/
@keyframes StarShine {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes CloudMove {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* CTA 手指動畫 */
@keyframes Finger{
0% {
  transform: translate(-20%,0) rotate(90deg);
}
100% {
  transform: translate(40%,0) rotate(90deg);
}
}

